.gitignore-local

bugzilla-backup.sql

*.sqlite3
*.py[ocd]
*.tar.gz
*.tgz
*.zip

env/

project/dependencies/

gumshoe/static/css/
gumshoe/static/img/
gumshoe/static/js/
gumshoe/static/tests/

.sass-cache/
